html,
body {
  padding: 0;
  margin: 0;
  color: rgb(254, 251, 251);
  background-color: rgb(6, 9, 15);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(223.75deg, rgb(0, 163, 255) 4.8%, rgb(0, 84, 198) 95.02%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-size: 18px;
  color: rgb(163, 163, 163);
}
a {
  text-decoration: none;
  font-size: 18px;
  color: rgb(163, 163, 163);
}

* {
  box-sizing: border-box;
}

