.container {
  width: 80%;
  margin: 1.5rem auto;
}

.link {
  color: #077bff;
  font-weight: 500;
}
.link:hover {
  filter: brightness(1.4);
}

.active {
  color: #0178ff;
  font-weight: 900;
}
.active:hover {
  filter: brightness(1.4);
}


