.container {
  width: 100%;
  margin: 1.5rem auto;
  background-color: rgb(6, 9, 15);
}

.link {
  color: rgb(254, 251, 251);
  font-weight: 500;
  padding: 25px 132px 25px 132px;
  border-bottom: 1px solid rgb(21, 27, 38);
  filter: brightness(1.2);
}
.link:hover {
  background: -webkit-linear-gradient(
    223.75deg,
    rgb(0, 163, 255) 4.8%,
    rgb(0, 84, 198) 95.02%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: brightness(1.2);
}

.active {
  color: #0178ff;
  font-weight: 900;
  background: -webkit-linear-gradient(
    223.75deg,
    rgb(0, 163, 255) 4.8%,
    rgb(0, 84, 198) 95.02%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: brightness(1.2);
  padding: 25px 130px 25px 130px;
  border-bottom: 1px solid rgb(21, 27, 38);
}
.active:hover {
  filter: brightness(1.4);
}

@media (min-width: 1410px) {
  .link,
  .active:hover, 
  .active, 
  .link:hover {
    border-bottom: 0px solid rgb(21, 27, 38);
  }
}

@media (max-width: 1350px) {
  .link,
  .active:hover, 
  .active, 
  .link:hover {
    padding: 25px 6px 6px 20px;
    border-bottom: 0px solid rgb(21, 27, 38);
  }
}

@media (min-width: 1599px) {
  .link,
  .active:hover, 
  .active, 
  .link:hover {
    padding: 25px 162px 25px 162px;
    border-bottom: 1px solid rgb(21, 27, 38);
  }
}



