.list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  width: 30rem;
  list-style-type: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  border: 1.2px solid rgb(21, 27, 38);
}
.img {
  border-radius: 4px;
}

.link {
  margin-left: 10px;
}


